body, html {
	height: 100%;
	font-family: 'Lato', sans-serif !important;
	letter-spacing: 1px;
}

/* home-screen */
.home-screen {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 550px;
	background-image: url(./img/home-bg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	box-sizing: border-box;
}

.home-screen:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.68);
	z-index: 0;
}
/* Navbar */
.fixed-navbar  {
	display: flex;
	position: fixed;
	z-index: 100;
	width: 100%;
}

.navbar {
	width: 100%;
	position: relative!important;
	color: white;
	text-transform: uppercase;
	transition: all 0.3s;
}

.navbar-collapse {
	padding-left: 0px;
	margin-left: 0px;
}

.navbar-brand {
	text-transform: capitalize;
}

.nav-link {
	color: white!important;
}

.nav-item {
	position: relative;
	font-size: 0.9rem;
}

.nav-item:after {
	content: "";
	display: block;
	background: none repeat scroll 0 0 transparent;
	position: absolute;
	height: 2px;
	left: 0;
	width: 0;
	transition: width 0.5s ease 0s;
	background-color: #fff;
}
.nav-item:hover:after {
	width: 100%;
}


/* title */ 
.table-cell {
	display: table;
	height: 100%;
	width: 100%;
}

.title {
	/*padding-top: 20vh;
	padding-bottom: 20vh;*/
	position: relative;
	width: 100%;
	display: table-cell;
	z-index: 99;
	box-sizing: border-box;
}

.img-personal {
	width: 130px;
	display: block;
	z-index: -4;
}

.img .border {
	border: 3px solid white!important;
}

.title .introduce {
	margin-top: 2rem;
}

.title .text-secondary {
	color: #afafaf!important;
}

/* scroll-icon */
.scroll-icon {
	display: flex;
	justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    border-radius: 16px;
    width: 24px;
    height: 40px;
    z-index: 100;
}
.scroll-icon .dot {
	display: block;
	width: 6px;
	height: 6px;
	background-color: white;
	border-radius: 50%;
	animation-name: downfade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform: translateY(10px);
}

@keyframes downfade {
	0% {
		background-color: white;
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
		transform: translateY(16px);
	}
}

/* ----- About ------ */
.summary {
	padding-top: 7rem;
}

.about-me {
	padding-top: 1rem;
}

.about-me .list-group-item {
	border: none;
	display: flex;
	align-items: baseline;
	padding: 0;
}

.icon-contact {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.icon-contact .list-group-item {
	border: 1px solid #b3afaf!important;
	border-radius: 50%!important;
	padding-left: 0;
	padding: 0!important;
	display: block;
	width: 40px!important;
	height: 40px!important;
	margin-right: 30px!important;
	position: relative;
} 

.icon-contact .fab {
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
}

.icon-contact a {
	transition: all 0.6s;
}

.icon-contact a:hover {
	background-color: black;
}

.icon-contact a:hover .fab {
	color: white;
}

.progress-skill .progress-item{
	margin-top: 2.75rem;
	position: relative;
}

.progress-skill .text-skill {
	padding-left: 8px;
	color: black;
	font-size: 0.95rem;
	font-weight: 500;
}

.progress-skill .progress {
	height: 8px;
}

.progress-skill .percent-text {
	position: absolute;
	right: 0;
	top: 0;
}

/* ------------------------------------------- */
/* --- My services ---- */
.my-services .card {
	border: none;
}

.my-services .big-size {
	font-size: 3rem;
	transition: all 0.4s;
}

.my-services {
	transition: all 0.4s;
}

.my-services .card:hover .fab {
	transform: rotateY(360deg);
}

.my-services .card:hover .far {
	transform: rotateY(360deg);
}

.my-services .card:hover .fas {
	transform: rotateY(360deg);
}

.my-services .line {
	display: block;
	margin-top: 1rem;
	width: 3.5rem;
	background-color: black;
	height: 1px;
	margin-right: auto;
	margin-left: auto;
}

.my-services .serparate-line {
	width: 120%;
	height: 1px;
	background-color: #DDD;
}


/* ------------------------------------------ */

@media (min-width: 768px) { 
	.img-personal {
		width: 180px;
	}
	.title h2 {
		font-size: 3rem;
	}
	.title h4 {
		font-size: 2rem;
	}
}

@media (min-width: 992px) {
	.my-services .card {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
		border-right: 1px solid #DDD;
	}
}

@media (min-width: 576px) and (max-width: 768px){
	.container {
		max-width: 768px!important;
	}
}

